@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    ViewData["Title"] = "Finance App";
}

    <div>
        <a class="nav-link px-3" href="DisplayTransactions/ShowAll">Show all transactions for specific account</a>
        <a class="nav-link px-3" href="DisplayTransactions/ShowToFrom">Show filtered transactions</a>
        <a class="nav-link px-3" href="DisplayTransactions/ShowWithJoin">Show all transactions by current user using join</a>
    </div>