@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    ViewData["Title"] = "Finance App";
}

    <div>
        <a class="nav-link px-3" href="ShowAll">Show all transactions</a>
        <a class="nav-link px-3" href="ShowToFrom">Show transactions between two dates</a>
    </div>