@page 
@model TransactionModel 
@{
    ViewData["Title"] = "Transaction";
} 

@{if (Model.Accounts == null) { <p>No accounts</p>}
else if (User.Identity.IsAuthenticated) {
    <div class="container">
        <div class="row">
            <form id="transactionForm" method="post" class="col-md-4 mx-auto">
                <div class="text-center mt-5" style="font-size: 20px;">
                    Simple App Test
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="accordion">
                    <div class="form-group">
                        <label asp-for="TransactionType"></label>
                        <select asp-for="TransactionType" class="form-control" id="type" required>
                            <option value="Deposit">Deposit</option>
                            <option value="Withdrawal">Withdrawal</option>
                        </select>
                        <span asp-validation-for="TransactionType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountNumber"></label>
                        <select asp-for="AccountNumber" class="form-control" id="account" required>
                            @foreach (var account in Model.Accounts)
                            {
                                <option value="@account.AccountNumber">@account.AccountNumber</option>
                            }
                        </select>
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-2">
                    <button id="register" type="submit" class="btn btn-outline-info">Create account</button>
                </div>
            </div>
        </form>
    </div>
</div>
}
else{

<p>No div:</p>
    <form action = "/submit" method="post">
        <label for="amount">Amount:</label>
        <input type = "number" id="amount" name="amount" required>

        <label for="option">Transaction Type:</label> <select id = "type" name="type" required> <option value = "deposit"> Deposit </option > <option value="withdraw">Withdraw</option> </select>

        <label for="option1">Option 1:</label>
        <input type = "radio" id="option1" name="option" value="option1" required>

        <label for="option2">Option 2:</label>
        <input type = "radio" id="option2" name="option" value="option2" required>

        <button type = "submit" > Submit </button >
    </form>
    }
}
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }