@page
@using FinanceApp
@model IndexModel
@{
    ViewData["Title"] = "Finance App";
}


@if (User?.Identity?.IsAuthenticated ?? false){
    <div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <ul>
    @{
        var claims = User.Claims;
        foreach(var claim in claims){
            <li>@claim.Type: @claim.Value</li>
        }
    }
    </ul>
    </div>
    <div>
        <a class="nav-link px-3" href="/Finance/CreateAccount">Create an account</a>}
    </div>
}
else{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}